$highlight-background   = #2d2d2d
$highlight-current-line = #393939
$highlight-selection    = #515151
$highlight-foreground   = #cccccc
$highlight-comment      = #999999
$highlight-red          = #f2777a
$highlight-orange       = #f99157
$highlight-yellow       = #ffcc66
$highlight-green        = #99cc99
$highlight-aqua         = #66cccc
$highlight-blue         = #6699cc
$highlight-purple       = #cc99cc

colors = {
    green: #37c936,
    red: #dd4b39,
    purple: #858,
    blue: #177ee6
}

$color-theme = hexo-config("color_theme")

if($color-theme) {
    $color-theme = colors[$color-theme]
} else {
    $color-theme = #5895be
}
