$BodyFont = 400 15px\/1.8 Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif

$DropdownCategoryFont = 13px\/1.65 Arial, sans-serif

$TooltipFont = normal normal 11px\/1.5 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"

$CodeFont = Consolas, Ubuntu Mono, WenQuanYi MicroHei Mono, monospace

$SerifFont = "Lora","FF Tisa","Freight Text","Times New Roman"
