$MainFont = Helvetica Neue, Helvetica, Arial, sans-serif

$NavigationFont = Arial, sans-serif

$TooltipFont = Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"

$CodeFont = Consolas, Ubuntu Mono, WenQuanYi MicroHei Mono, monospace

$SerifFont = "Lora","FF Tisa","Freight Text",sans-serif

$LogoFont = "Titillium Web", Helvetica, sans-serif
