.breadcrumb-navigation {
    margin-bottom: 20px;
    font-size: 12px;
    color: #999;
    a {
        color: #777;
        text-decoration: underline;
    }
    .breadcrumb-arrow {
        color: #aaa;
        margin: 0 2px;
    }
    .text {padding-left: 10px;}
}
