.dropdown {
    position: relative;
    &.selected {
        .dropdown-arrow1, .dropdown-arrow2, .submenu {display: block;}
    }
}

.dropdown-arrow1, .dropdown-arrow2 {
    display: none;
    position: absolute;
    left: 7px;
    z-index: 1;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: dashed dashed solid;
    border-width: 0 8px 8px;
}

.dropdown-arrow1 {
    top: 27px;
    border-bottom-color: #ccc;
    border-bottom-color: rgba(0, 0, 0, .2);
}

.dropdown-arrow2 {
    top: 28px;
    border-bottom-color: #fff;
}

.dropdown-link {
    display: block;
    .icon {
        padding-left: 10px;
        vertical-align: middle;
        font-size: 15px;
    }
}

.submenu {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    padding: 25px;
    width: 35pc;
    border: 1px solid #ccc;
    border-color: rgba(0, 0, 0, .2);
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1)
}

.tdleft {
    width: 45px;
    border-right: 1px solid #eee;
}

.tdright {padding-left: 20px;}

.trline td {padding-bottom: 15px;}

.tab-categories li {
    display: inline-block;
    cursor: pointer;
    margin: 0 10px 10px 0;
    background: #fafafa;
    a {padding: 0 10px;}
}

.tab-categories li a, .tab-tags a {
    display: block;
    color: #333;
    font: 13px/1.65 Arial, sans-serif;
    line-height: 180%;
    &:hover {
        background-color: #5895be;
        color: #fff;
        text-decoration: none;
    }
}

.tab-tags a {
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 2px 10px;
    background: #f5f5f5;
}

.tab-formats {
    li {
        float: left;
        display: block;
        padding-right: 45px;
        width: 36px;
        text-align: center;
        &.tab-part {padding-right: 0;}
        a {
            color: #999;
            &:hover {
                text-decoration: none;
                .icon-home {background-position: 0 -4pc;}
                .icon-twitter {background-position: -62px -4pc;}
                .icon-film {background-position: -122px -4pc;}
                .icon-inbox {background-position: -182px -4pc;}
            }
            &.news:hover {color: #fa7c7c;}
            &.twitter:hover {color: #00acee;}
            &.films:hover {color: #facc7c;}
            &.archive:hover {color: #5bcb57;}
        }
    }
    span {
        display: block;
        width: 36px;
        height: 2pc;
        font-size: 28px;
    }
}

.section-title {
    color: #666;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.tab-more {
    margin-top: 25px;
    width: 280px;
    height: 40px;
    border-top: 1px dotted #ccc;
    text-align: center;
    line-height: 40px;
}
