#footer {
    border-top: 1px solid #ececec;
    font-size: 14px;
    & , a {color: #999;}
    .container {
        padding: 15px 0;
        height: 65px;
        text-align: center;
        line-height: 35px;
    }
    .sns-icons {
        margin-bottom: 2em;
        .sns-icon {
           padding: 4px 8px;
           margin-left: 10px;
        }
        a {
            color: #555;
            &:hover {color: #000;}
        }
    }
    .cc-license {
        display: inline-block;
        vertical-align: middle;
        .cc {line-height: 35px;}
        a:hover {
            text-decoration: none;
            color: #000;
        }
    }
}


