#footer {
    border-top: 1px solid #ececec;
    & , a {color: #999;}
    .container {
        padding: 15px 0;
        height: 65px;
        text-align: center;
        line-height: 35px;
        @media screen and (max-width: 769px) {
            padding: 10px 15px;
            font-size: 13px;
            line-height: 1.6
        }
    }
}
