#footer {
    border-top: 1px solid #ececec;
    & , a {color: #999;}
    .container {
        padding: 15px 0;
        height: 65px;
        text-align: center;
        line-height: 35px;
    }
}

.cc-license {
    margin-top: 10px;
    text-align: center;
    .cc-opacity {
        opacity: 0.7;
        border-bottom: none;
        &:hover { opacity: 0.9; }
    }
    img { display: inline-block; }
}
