#nav {
    padding: 40px 0 30px;
    border-bottom: 1px solid #ededed;
    background-color: #fafafa;
}

#header {
    position: relative;
    z-index: 90;
    padding: 20px 0;
    border-bottom: 1px solid #ededed;
    box-shadow: 0 1px 0 0 hsla(0, 0%, 62%, .2) inset;
    -ms-box-shadow: 0 1px 0 0 hsla(0, 0%, 62%, .2) inset;
    .container {
        height: 30px;
        line-height: 30px;
        margin-left: 80px;
        @media screen and (max-width: 769px) {
            position: relative;
            height: auto;
            padding: 10px 0;
            margin-left: 0px;
        }
    }
    @media screen and (max-width: 769px) {
        padding: 0;
        /*position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        background: #fff;*/
    }
}

.logo {
    float: left;
    margin-right: 40px;
    display: block;
    width: 102px;
    height: 30px;
    .brand-logo {
        border-radius: 3px;
        background: black;
        color: white;
        padding-bottom: 3px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 1px;
        margin-right: 5px;
    }
    @media screen and (max-width: 769px) {
        float: none;
        margin-left: 15px;
    }
}

.global-nav {
    display: block;
    .gnul {display: block;}
    .gnli {
        display: inline-block;
        margin-right: 25px;
        zoom: 1;
        &.current .gna {
            color: #5895be;
            &:hover {color: #5895be;}
        }
    }
    .gna {
        display: block;
        height: 30px;
        outline: 0;
        color: #666;
        text-decoration: none;
        font-size: 14px;
        &:hover {color: #5895be;}
    }
    ul li a span {
        min-width: 14px;
        margin-right: 5px;
    }
}

.top-menu ul li {
    display: inline-block;
    margin-right: 25px;
    margin-right: 15px;
    zoom: 1;
    a {
        display: block;
        height: 30px;
        outline: 0;
        color: #666;
        text-decoration: none;
        font-size: 14px;
        &:hover {color: #5895be;}
    }
    &.archive a, &.about a {
        padding-left: 18px;
        position: relative;
        &:before {
            position: absolute;
            left: 0;
            line-height: 30px;
        }
    }
    &.archive a:before {content: "\e904";}
    &.about a:before {
        content: "\e7fd";
        font-size: 18px;
    }
}

.global-custom-nav {
    ul li {
        display: inline-block;
        &.current-menu-item a {color: #5895be;}
    }
    @media screen and (max-width: 769px) {
        float: none;
        margin-top: 10px;
        width: 100%;
        padding: 5px 15px;
        border-top: 1px solid #eee;
    }
}
