#nav {
    padding: 40px 0 30px;
    border-bottom: 1px solid #ededed;
    background-color: #fafafa;
}

#header {
    position: absolute;
    z-index: 90;
    width: 100%;
    height: 55px;
    padding: 10px 0;
    background-color: #fff;
    border-bottom: 1px solid #ededed;
    box-shadow: 0 1px 0 0 hsla(0, 0%, 62%, .2) inset;
    -ms-box-shadow: 0 1px 0 0 hsla(0, 0%, 62%, .2) inset;
    .container {
        height: 30px;
        line-height: 30px;
        /*margin-left: 80px;*/
    }
}

.logo {
    float: left;
    margin-right: 40px;
    display: block;
    width: 102px;
    height: 30px;
    .brand-logo {
        color: #666;
        padding: 1px 5px 3px 5px;
        font-family: $LogoFont;
        font-size: 20px;
        margin-right: 5px;
    }
}

.global-nav {
    display: block;
    float: left;
    .gnul {display: block;}
    .gnli {
        display: inline-block;
        margin-right: 25px;
        zoom: 1;
        &.current .gna {
            color: $color-theme;
            &:hover {color: $color-theme;}
        }
    }
    .gna {
        display: block;
        height: 30px;
        outline: 0;
        color: #666;
        text-decoration: none;
        font-size: 14px;
        &:hover {color: $color-theme;}
    }
    ul li a span {
        min-width: 14px;
        margin-right: 5px;
    }
}
