.clearfix {
    zoom: 1;
    &:after, &:before {
        display: table;
        content: ' ';
    }
    &:after {
        clear: both;
        overflow: hidden;
    }
}

.container {
    margin: 0 auto;
    width: 80%;
    position: relative;
    #content & {
        padding-top: 90px;
        padding-bottom: 40px;
    }
}

#primary {
    float: left;
    width: hexo-config('sidebar')? 70%: 100%;
    min-height: 25pc;
}

body.post #primary {
    float: none;
    width: auto;
    &.has-toc {
        float: left;
        width: 75%;
    }
}

.post-content {
    &, p {
        margin: 0 0 9pt;
        line-height: 1.8;
        word-break: normal;
    }
    small {
        padding-top: 20px;
        font-weight: 700;
        font-size: 13px;
        line-height: 1.2em;
    }
}

.left {float: left;}

.right {float: right;}
