/* Style from http://codepen.io/eksch/full/jPPPPp/ */

.pagenavi {
    padding-top: 25px;
    font-size: 14px;
    text-align: center;
    a {
        color: #555;
        &:hover {text-decoration: none;}
    }
    .page-number, .space {
        display: inline-block;
        line-height: 25px;
        height: 40px;
        width: 40px;
        padding: 0;
        margin: 0;
        box-shadow: inset 0px -2px 0px 0px #bbb;
        &:hover {box-shadow: inset 0px -4px 0px 0px #bbb;}
        &:focus {
            border: 1.5px solid #bbb;
            border-radius: 3px;
        }
    }
    .current {
        box-shadow: inset 0px -4px 0px 0px $anchor-color;
        color: $anchor-color;
        font-weight: bold;
        &:hover {
            box-shadow: inset 0px -4px 0px 0px $anchor-color;
            cursor: default;
        }
    }
    .space {
        box-shadow: inset 0px -2px 0px 0px #e6e6e6;
        &:hover {
            box-shadow: inset 0px -2px 0px 0px #e6e6e6;
            cursor: default;
        }
    }
    .extend {
        margin: 15px;
        &.next:after {
            font-family: "FontAwesome";
            content: "\f101";
            padding-left: 0.3em;
        }
        &.prev:before {
            font-family: "FontAwesome";
            content: "\f100";
            padding-right: 0.3em;
        }
    }
}
