.pagenavi {
    display: block;
    list-style: none;
    margin-top: 25px;
    padding: 25px 0 0;
    font-size: 14px;
    text-align: center;
    .page-number {
        display: inline-block;
        margin: 0 5px 5px 0;
    }
    a, span {
        display: inline-block;
        line-height: 25px;
        padding: 5px 9px;
        border: 1px solid #DDD;
        text-align: center;
        color: #555;
        &:hover {
            background: #F8F8F8;
            border-bottom-color: $anchor-color;
        }
        &.prev {
            float: left;
            &:before {
                font-family: "FontAwesome";
                content: "\f100";
                padding-right: 0.3em;
            }
        }
        &.next {
            float: right;
            &:after {
                font-family: "FontAwesome";
                content: "\f101";
                padding-left: 0.3em;
            }
        }
        &.extend:hover {text-decoration: none;}
    }
    .current {
        background: #F8F8F8;
        border-bottom-color: $anchor-color;
    }
    .space {
        border: none;
        padding: 5px 5px;
    }
}
