#sidebar {
    float: right;
    padding-left: 40px;
}

#sidebar, #sidebar-fixed {width: 30%;}

#sidebar-fixed.fixed {
    position: fixed;
    top: 20px;
}

.widget {
    margin-bottom: 20px;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    h3 {
        color: #636363;
        text-transform: uppercase;
        font-size: 15px;
    }
    .avatar {
        border-radius: 50%;
        vertical-align: middle;
    }
    span {color: #aaa;}
    ul {
        padding: 10px 0;
        &.list {
            padding: 10px 0 10px 15px;
            li {list-style: square;}
        }
    }
    a {
        color: #666;
        &:hover {color: $color-theme;}
    }
    li, p {
        font-size: 13px;
        line-height: 1.846153846;
    }
    p {color: #999;}
}

.widget-links ul li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
    zoom: 1;
}
