.sns {
    padding: 6px 1pc 6px 10px;
    background: #f5f5f5;
    color: #666;
    &:hover {
        background-color: #5895be;
        color: #fff;
        text-decoration: none;
    }
    &:before {margin-right: 0.5 em;}
    span {padding-right: 5px;}
}
