.not-found {
    text-align: center;
    #wrapper {
        padding-bottom: 32px;
        margin-bottom: 32px;
    }
    #count-down {
        margin-top: 1em;
        font-weight: 400;
        font-size: 1.5em;
        margin-left: auto;
        margin-right: auto;
    }
}
