.post-content {
    float: right;
    width: 90%; // origin: 550px
    .archive-time {
        display: block;
        margin: 20px 0;
        padding: 5px 0;
        border-bottom: 1px solid #ededed;
        color: #666;
        font-size: 14px;
        padding-bottom: 10px;
        &:after {content: none;}
    }
}

#archives h3 {padding-bottom: 10px;}

.brick {
    margin-bottom: 10px;
    position: relative;
    display: block;
    padding: 10px;
    background-color: #f9f9f9;
    font-style: normal;
    line-height: 18px;
    .time {
        color: #888;
        padding-right: 10px;
    }
    a {
        color: #333;
        &:hover {text-decoration: underline;}
    }
    em {
        color: #aaa;
        padding-left: 10px;
    }
}

#archive-nav {
    float: left;
    left: 7%;
    width: 45px;
    display: block;
    position: fixed;
    background: #f9f9f9;
    text-align: center;
    top: 115px; // 60px + #header.height
    list-style: none;
    ol, li, ul {list-style: none;}
    a:hover {text-decoration: none;}
}

.archive-title {
    padding-bottom: 10px; // original: 40px;
}

.months {display: none;}

.year {
    border-top: 1px solid #ddd;
    &.active .months {display: block;}
}

.month {
    padding: 5px;
    background-color: #f9f9f9;
    &.active, &:hover {background: #f2f2f2;}
}

.year-anchor {
    display: block;
    padding: 5px;
    text-decoration: none;
    background-color: #eee;
    color: #333;
    font-weight: bold;
}

.month-anchor {
    color: #777;
}

@media screen and (max-width: 769px) {
    .post-content {width: 100%;}
    #archive-nav {display: none;}
}
