#notice {
    margin-bottom: 40px;
    padding: 5px 20px;
    border: 1px solid #e7e7e7;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,.07);
    @media screen and (max-width: 769px) {
        box-shadow: none;
        margin: 15px 0;
        font-size: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
