#search-form {
    position: relative;
    max-width: 35%;
    float: right;
    padding-right: 35px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    background: transparent;
}

#search-input {
    padding: 3px 6px 4px 5px;
    height: 24px;
    font-size: 13px;
    outline: 0;
    border: 0;
    background: transparent;
}

#search-submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 30px;
    border: 0;
    background: transparent;
    cursor: pointer;
    font-size: 14px;
    &:hover {color: $color-theme;}
}
