.search-form {
    position: relative;
    width: 20%;
    float: right;
    padding-right: 35px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    background: #fff;
}

.search-input {
    padding: 3px 6px 4px 5px;
    height: 24px;
    font-size: 13px;
    outline: 0;
    border: 0;
    background: #fff;
}

.search-submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 30px;
    border: 0;
    background: #fff;
    cursor: pointer;
    font-size: 14px;
    &:hover {color: $anchor-color;}
}
