#totop {
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: block;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0.2s, opacity 0.2s linear;
     -moz-transition: visibility 0.2s, opacity 0.2s linear;
          transition: visibility 0.2s, opacity 0.2s linear;
}
#totop.display {
  visibility: visible;
  opacity: 1;
}
