.logo {
    float: left;
    margin-right: 40px;
    display: block;
    width: 102px;
    height: 30px;
    .brand-logo {
        color: #666;
        padding: 1px 5px 3px 5px;
        font-family: $LogoFont;
        font-size: 20px;
        margin-right: 5px;
    }
}