#nav {
    padding: 40px 0 30px;
    border-bottom: 1px solid #ededed;
    background-color: #fafafa;
}

#header {
    position: absolute;
    z-index: 90;
    width: 100%;
    height: 55px;
    padding: 10px 0;
    background-color: #fff;
    border-bottom: 1px solid #ededed;
    box-shadow: 0 1px 0 0 hsla(0, 0%, 62%, .2) inset;
    -ms-box-shadow: 0 1px 0 0 hsla(0, 0%, 62%, .2) inset;
    .container {
        height: 30px;
        line-height: 30px;
        /*margin-left: 80px;*/
    }
}
