---
layout: layout
---
<main id="primary">
    <%- partial('_widget/notice') %>
    <div id="postlist">
    <% page.posts.each(function(post){ %>
    <%- partial('_partial/post/preview', {post: post}) %>
    <% }); %>
    </div>
</main>
<%- partial('_partial/pagination') %>
