---
layout: base
---
<div id="content">
    <div class="container clearfix">
        <!-- Main Content -->
        <%- body || page.content %>
        <%- partial('_sidebar/sidebar',{cache: !config.relative_link}) %>
    </div>
</div>
