---
layout: layout
---
<style>
.search-keyword {color: #cf0000;font-weight: bold;}
#no-match {display: block;}
#no-match.matched {display: none;}
</style>

<div id="primary">
    <div id="search-result"></div>
    <h2 id="no-match"><%- __('no_match') %></h2>
</div>
<!-- #primary -->
<%- js('') %>
<script src="/js/search.min.js" type="text/javascript" async></script>
<script type="text/javascript">
$(document).ready(function(){searchFunc('<%- url_for(config.search.path) %>',getParameterByName('s'),'search-result')});
</script>
