<% if(theme.duoshuo_shortname || theme.disqus_api_key) { %>
<div class="widget widget-comments">
    <h3><%= __('recent_comments') %></h3>
    <% if(theme.duoshuo_shortname) { %>
    <ul class="list ds-recent-comments" data-num-items="5"></ul>
    <% } else { %>
    <ul class="list dq-recent-comments" data-api-key="<%- theme.disqus_api_key %>" data-forum="<%- theme.disqus_shortname %>" data-num-items="5"></ul>
    <% } %>
</div>
<% } %>
