<% if(theme.search) { %>
<form method="get" class="search-form" action="<%- url_for('search/index.html') %>">
    <input type="text" name="s" class="search-input" placeholder="<%- __('search') %>" />
    <button type="submit" class="search-submit">
        <span class="fa fa-search"></span>
    </button>
</form>
<% } %>
