.tooltipped {
    position: relative;
    &:after {
        position: absolute;
        z-index: 1000000;
        display: none;
        max-width: 280px;
        padding: 5px 10px;
        font-style: normal;
        font-variant: normal;
        font-size: 11px;
        font-family: $TooltipFont;
        line-height: 1.5em;
        color: #fff;
        text-align: center;
        text-decoration: none;
        text-shadow: none;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: break-word;
        white-space: pre;
        pointer-events: none;
        content: attr(aria-label);
        background: rgba(0, 0, 0, 0.8);
        border-radius: 3px;
        -webkit-font-smoothing: subpixel-antialiased;
    }
    &:before {
        position: absolute;
        z-index: 1000001;
        display: none;
        width: 0;
        height: 0;
        color: rgba(0, 0, 0, 0.8);
        pointer-events: none;
        content: "";
        border: 5px solid transparent;
    }
    &:hover, &:active, &:focus {
        &:before, &:after {
            display: inline-block;
            text-decoration: none;
        }
    }
}

.tooltipped-multiline {
    &:hover, &:active, &:focus {
        &:after {display: table-cell;}
    }
    &:after {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        max-width: 250px;
        word-break: break-word;
        word-wrap: normal;
        white-space: pre-line;
        border-collapse: separate;
    }
    &.tooltipped-s:after, &.tooltipped-n:after {
        right: auto;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    &.tooltipped-w:after, &.tooltipped-e:after {right: 100%;}
}

.tooltipped-s, .tooltipped-se, .tooltipped-sw {
    &:after {
        top: 100%;
        right: 50%;
        margin-top: 5px;
    }
    &:before {
        top: auto;
        right: 50%;
        bottom: -5px;
        margin-right: -5px;
        border-bottom-color: rgba(0, 0, 0, 0.8);
    }
}

.tooltipped-n, .tooltipped-ne, .tooltipped-nw {
    &:after {
        right: 50%;
        bottom: 100%;
        margin-bottom: 5px;
    }
    &:before {
        top: -5px;
        right: 50%;
        bottom: auto;
        margin-right: -5px;
        border-top-color: rgba(0, 0, 0, 0.8);
    }
}

.tooltipped-se, .tooltipped-ne {
    &:after {
        right: auto;
        left: 50%;
        margin-left: -15px;
    }
}

.tooltipped-sw:after, .tooltipped-nw:after {margin-right: -15px;}

.tooltipped-s:after, .tooltipped-n:after {
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

.tooltipped-w {
    &:after {
        right: 100%;
        bottom: 50%;
        margin-right: 5px;
        -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
        transform: translateY(50%);
    }
    &:before {
        top: 50%;
        bottom: 50%;
        left: -5px;
        margin-top: -5px;
        border-left-color: rgba(0, 0, 0, 0.8);
    }
}

.tooltipped-e {
    &:after {
        left: 100%;
        bottom: 50%;
        margin-left: 5px;
        -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
        transform: translateY(50%);
    }
    &:before {
        top: 50%;
        bottom: 50%;
        right: -5px;
        margin-top: -5px;
        border-right-color: rgba(0, 0, 0, 0.8);
    }
}

.tooltipped-sticky {
    &:before, &:after {display: inline-block;}
    &.tooltipped-multiline:after {display: table-cell;}
}
