@font-face {
    font-family: 'mutheme-kunkka';
    src: url('/fonts/icomoon.eot?5z92sk');
    src: url('/fonts/icomoon.eot?5z92sk#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?5z92sk') format('truetype'),
    url('/fonts/icomoon.woff?5z92sk') format('woff'),
    url('/fonts/icomoon.svg?5z92sk#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.mutheme-search,
.breadcrumb-arrow,
.dropdown > a:before,
.mobile-menu-button,
[class^="mutheme-"] > a:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'mutheme-kunkka';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="mutheme-"] > a,
.dropdown > a {
    padding-left: 17px;
    position: relative;
}

[class^="mutheme-"] > a:before,
.dropdown > a:before {
    position: absolute;
    left: 0;
    top: 0;
    line-height: 30px;
    vertical-align: middle;
}

.mutheme-download > a:before {content: "\e609";}

.mutheme-email > a:before {content: "\e60b";}

.mutheme-tag > a:before {content: "\e602";}

.mutheme-comment > a:before {content: "\e60c";}

.mutheme-layers > a:before {content: "\e900";}

.mutheme-air > a:before {content: "\e901";}

.mutheme-aircraft > a:before {content: "\e902";}

.mutheme-drive > a:before {content: "\e905";}

.mutheme-colours > a:before {content: "\e903";}

.mutheme-compass > a:before {content: "\e904";}

.mutheme-game > a:before {content: "\e906";}

.mutheme-home > a:before {content: "\e907";}

.mutheme-image > a:before {content: "\e908";}

.mutheme-medal > a:before {content: "\e909";}

.mutheme-mic > a:before {content: "\e90a";}

.mutheme-rocket > a:before {content: "\e90b";}

.mutheme-shop > a:before {content: "\e90c";}

.mutheme-user > a:before {content: "\e90d";}

.mutheme-instagram > a:before {content: "\e90e";}

.mutheme-shop > a:before {content: "\e90c";}

.mutheme-music > a:before {content: "\f001";}

.mutheme-video > a:before {content: "\f16a";}

.mutheme-apple > a:before {content: "\f179";}

.mutheme-windows > a:before {content: "\f17a";}

.mutheme-android > a:before {content: "\f17b";}

.mutheme-twitter > a:before {content: "\f099";}

.mutheme-github > a:before {content: "\f09b";}

.mutheme-feed > a:before {content: "\f09e";}

.mutheme-tablet > a:before {content: "\f10a";}

.mutheme-mobile > a:before {content: "\f10b";}

.mutheme-linux > a:before {content: "\f17c";}

.mutheme-dribbble > a:before {content: "\f17d";}

.mutheme-weibo > a:before {content: "\f18a";}

.mutheme-wordpress > a:before {content: "\f19a";}

.mutheme-qq > a:before {content: "\f1d6";}

.mutheme-wechat > a:before {content: "\f1d7";}

.mutheme-facebook > a:before {content: "\f230";}

.mutheme-safari > a:before {content: "\f267";}

.mutheme-chrome > a:before {content: "\f268";}

.mutheme-firefox > a:before {content: "\f269";}

.mutheme-opera > a:before {content: "\f26a";}

.mutheme-ie > a:before {content: "\f26b";}

.mutheme-edge > a:before {content: "\f282";}

.dropdown > a:before,
.mobile-menu-button:before {content: "\f0c9";}

.mutheme-search:before {content: "\f002";}

.breadcrumb-arrow:before {content: "\e607";}
