.clearfix {
    zoom: 1;
    &:after, &:before {
        display: table;
        content: '';
    }
    &:after {
        clear: both;
        overflow: hidden;
    }
}

.container {
    margin: 0 auto;
    width: 80%;
    @media screen and (max-width: 769px) {
        padding-right: 15px;
        padding-left: 15px;
        width: auto;
    }
}

#content .container {
    padding-top: 90px;
    padding-bottom: 40px;
    @media screen and (max-width: 769px) {padding-bottom: 0;}
}

#primary {
    float: left;
    width: 60%;
    min-height: 25pc;
    @media screen and (max-width: 769px) {
        float: none;
        width: auto;
    }
}

.post-content {
    &, p {
        margin: 0 0 9pt;
        line-height: 1.8;
        word-break: normal;
    }
    small {
        padding-top: 20px;
        font-weight: 700;
        font-size: 13px;
        line-height: 1.2em;
    }
    img {
        @media screen and (max-width: 769px) {
            width: 100%;
            height: auto;
        }
    }
}

.left {float: left;}

.right {float: right;}
