<!-- Totop -->
<%- partial('_partial/totop') %>
<script src="/js/totop.min.js" type="text/javascript" async></script>

<% if(theme.mathjax) { %>
<script type="text/javascript" src="https://cdn.bootcss.com/mathjax/2.6.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML" async></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"]  ],
            processEscapes: true,
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
        }
    });
</script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax(), i;
        for (i=0; i < all.length; i += 1) {
            all[i].SourceElement().parentNode.className += ' has-jax';
        }
    });
</script>
<% } %>

<% if(theme.duoshuo_shortname) { %>
<script type="text/javascript">
    var duoshuoQuery = {short_name: '<%- theme.duoshuo_shortname %>' };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = '/js/duoshuo.min.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<% } %>

<% if(theme.disqus_shortname) { %>
<script type="text/javascript">
(function() { 
    var d = document, s = d.createElement('script');
    s.type = "text/javascript";s.async = true;
    s.src = 'https://<%- theme.disqus_shortname %>.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
<script src="/js/disqus.min.js" type="text/javascript" async></script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<% } %>

<% if(theme.busuanzi) { %>
<script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<% } %>
