<% if(page.comments) { %>
<section id="comments">
    <% if(theme.disqus_shortname) { %>
    <!-- disqus start -->
    <div id="disqus_thread" class="disqus-thread"></div>
    <!-- disqus end -->
    <% } %>
</section>
<% } %>
