<!-- #content -->
<div id="footer">
    <div class="container">
        <p>&copy; 2016 <%= config.title %> All Rights Reserved. <a href="http://mufeng.me/">Kunkka
                theme</a> powered by <a href="https://hexo.io/">Hexo</a>.</p>
    </div>
</div>
<!-- #footer -->
