<%
   var sns_settings = {
       "github": {"url":"https://github.com/{0}", "icon":"fa-github"},
       "twitter": {"url":"https://twitter.com/{0}", "icon":"fa-twitter"},
       "facebook": {"url":"https://www.facebook.com/{0}", "icon":"fa-facebook"},
       "linkedin": {"url":"https://www.linkedin.com/in/{0}", "icon":"fa-linkedin"},
       "googleplus_id": {"url":"https://plus.google.com/u/0/{0}", "icon":"fa-google-plus"},
       "steam_id": {"url":"https://steamcommunity.com/id/{0}", "icon":"fa-steam"},
       "weibo": {"url":"http://weibo.com/{0}", "icon":"fa-weibo"},
       "zhihu": {"url":"https://www.zhihu.com/people/{0}", "icon":"知"},
       "tieba": {"url":"http://tieba.baidu.com/home/main/?un={0}", "icon":"贴"}
   };
%>

<% if(theme.sns) { %>
<div class="sns-icons">
    <% Object.keys(theme.sns).forEach(function(item) { %>
        <% var username = theme.sns[item]; %>
        <% if(username) { %>
            <% var url = sns_settings[item].url, icon = sns_settings[item].icon; %>
    <span class="sns-icon fa-stack">
        <a target="_blank" href="<%- printf(url,username) %>">
            <i class="fa fa-square fa-stack-2x"></i>
            <% if(icon.match(/fa-\w+/g)) { %>
            <i class="fa <%- icon %> fa-stack-1x fa-inverse"></i>
            <% } else { %>
            <i class="fa fa-stack-1x fa-inverse"><%- icon %></i>
            <% } %>
        </a>
    </span>
        <% } %>
    <% }); %>
</div>
<% } %>
