<% 
   var categories = '';
   if(page.categories.length){
       var arr = [];
       page.categories.forEach(function(category){
           arr.push("<a href=\"" + url_for(category.path) + "\" title=\"" + escape(category.name) + "\" rel=\"category tag\">" + escape(category.name) + "</a>");
       });
       categories = arr.join(',');
   } else {
       categories = __('uncategorized');
   }
%> 
<%- categories %>
