$MainFont = "Helvetica Neue", Helvetica, "Microsoft YaHei", Arial, sans-serif

$NavigationFont = Arial, sans-serif

$TooltipFont = Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"

$CodeFont = "Ubuntu Mono", Consolas, "WenQuanYi MicroHei Mono", monospace

$SerifFont = Lora, "FF Tisa", "Freight Text", "Times New Roman", sans-serif

$LogoFont = "Titillium Web", Helvetica, sans-serif
