blockquote {
    display:block;
    background: #fff;
    padding: 15px 20px 15px 45px;
    margin: 0 0 20px;
    position: relative;
    overflow: hidden;
    font-family: $SerifFont
    font-size: 16px;
    line-height: 1.2;
    color: #666;
    text-align: justify;
    border-left: 15px solid #ddd;
    border-right: 2px solid #ddd;
    -webkit-text-size-adjust: 100%;
    -webkit-box-shadow: 2px 2px 15px #ccc;
       -moz-box-shadow: 2px 2px 15px #ccc;
            box-shadow: 2px 2px 15px #ccc;
    &:after {content: "";}
} 
