#fn-pop {
    position: absolute;
    width: 20em;
    background: #F7F6EE;
    padding: 0em 1em 0em 1em;
    border: solid 1px;
    font-size: 90%;
    font-family: $BodyFont;
    line-height: 1.4;
    opacity: 0.95;
    -webkit-border-radius: 0.5em;
       -moz-border-radius: 0.5em;
            border-radius: 0.5em;
    /* left and top are calculated dynamically */
} 

#fn-list {display: none;}
