pre, .highlight {
    background: $highlight-background;
    margin: 20px 0;
    padding: 15px;
    overflow: auto;
    font-size: 16px;
    color: $highlight-foreground;
    line-height: 1.6;
}

pre, code {font-family: $CodeFont;}

code {
    word-break: break-all;
    background: #eee;
    text-shadow: 0 1px #fff;
    padding: 0 0.3em;
}

pre code {
    background: none;
    text-shadow: none;
    padding: 0;
}

.highlight {
    border-radius: 10px;
    border: 3px solid #eee;
    pre {
        border: none;
        margin: 0;
        padding: 1px;
    }
    table {
        margin: 0;
        width: auto;
        border: none;
        
    }
    td {
        border: none;
        padding: 0;
    }
    figcaption{
        &:before, &:after {
            content: " ";
            display: table;
        }
        &:after { clear: both; }
        font-size: 0.85em;
        color: $highlight-comment;
        line-height: 1em;
        margin-bottom: 1em;
        a {float: right;}
    }
    .gutter pre {
        color: #666;
        text-align: right;
        padding-right: 20px;
    }
    .line {height: 20px;}
    .comment {color: $highlight-comment;}
    .variable, .template-variable, .attribute, .tag, .name, .regexp, .deletion, .selector-id, .selector-class, {color: $highlight-red;}
    .number, .preprocessor, .built_in, .literal, .params, .constant, .command, .meta, .link, .type {color: $highlight-orange;}
    .string, .value, .inheritance, .header, .special, .number, .formula, .bullet, .addition {color: $highlight-green;}
    .title {color: $highlight-aqua;}
    .function, .section {color: $highlight-blue;}
    .keyword, .selector-tag {color: $highlight-purple;}
    &.css {
        .id, .class, .pseudo {color: $highlight-red;}
        .rule .attribute {color: $highlight-green;}
        .hexcolor {color: $highlight-aqua;}
        .tag {color: $highlight-purple;}
    }
    &.ruby {
        .constant {color: $highlight-red;}
        .class .title {color: $highlight-green;}
        .function .title, .title .keyword {color: $highlight-blue;}
        .symbol {color: $highlight-green;}
    }
    &.python {
        .decorator, .title {color: $highlight-blue;}
    }
    &.xml {
        .tag .title, .pi, .doctype {color: $highlight-red;}
        .cdata {color: $highlight-green;}
    }
    &.perl {
        .sub {color: $highlight-blue;}
    }
    &.javascript {
        .title {color: $highlight-blue;}
        .function {color: $highlight-purple;}
    }
    &.coffeescript {
        .title {color: $highlight-blue;}
    }
    &.html {
        .doctype {color: $highlight-red;}
    }
}
