.pager {
    padding: 0 !important;
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none;
    &:before, &:after {
        display: table;
        content: " ";
        box-sizing: border-box;
    }
    .previous {
        > a, > span {float: left;}
    }
    .next {
        > a, > span {float: right;}
    }
    li {
        display: inline;
        > a, > span {
            line-height: 1.7;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 800;
            letter-spacing: 1px;
            padding: 10px;
            background-color: white;
            border-radius: 0;
        }
        > a {
            color: #fff;
            border: 2px solid #404040;
            border-radius: 3px;
            background-color: #404040;
            -webkit-transition: all 0.2s ease;
               -moz-transition: all 0.2s ease;
                    transition: all 0.2s ease;
            &:hover, &:focus {
                text-decoration: none;
                color: #404040;
                background-color: #fff;
            }
        }
    }
}
