.post-tags {
    margin-top: 10px;
    padding: 15px 0;
    border-top: 1px solid #eee;
    a {
        margin: 0 10px 10px 0;
        padding: 5px 10px;
        font-size: 13px;
        background: #fafafa;
        display: inline-block;
        color: #333;
        &:before {
            display: inline-block;
            font-family: FontAwesome;
            content: "\f02b";
            margin-right: 0.25em;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
        }
    }
}
