#toc {
    line-height: 1em;
    position: fixed;
    right: 5%;
    width: 20%;
    top: 90px;
    .toc-link {color: #999;}
    .toc {
        padding: 0;
        margin: 0.5em;
        line-height: 1.8em;
        li {list-style-type: none;}
    }
    .toc-item {
        .toc-child {
            margin-left: 1em;
            padding-left: 0;
            /*display: none;
            &.active {display: block;}*/
        }
        /*&.active .toc-link {
            color: $anchor-color;
            border-left: 2px solid $anchor-color;
        }*/
    }
    
}
