#toc {
    line-height: 1em;
    position: fixed;
    right: 5%;
    width: 20%;
    top: 90px;
    .toc-text {white-space: nowrap;}
    for i in (1..6) {
        .toc-level-{i} .toc-text {margin-left: i em;}
    }
    .toc-link {
        color: #999;
        &:hover {
            color: $color-theme;
            border-left: 1px solid $color-theme;
            text-decoration: none;
        }
    }
    .toc {
        padding: 0;
        margin: 0.5em;
        line-height: 1.8em;
        li {list-style-type: none;}
    }
    .toc-item {
        .toc-child {
            margin-left: 0;
            padding-left: 0;
            display: none;
        }
        &.active {
            > .toc-link {
                color: $color-theme;
                border-left: 2px solid $color-theme;
            }
            .toc-child {display: block;}
        }
    }
}
